* {
    background-color: beige;
}
.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(234, 0, 255);
    text-align: center;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.scripts {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    font-size: x-large;
    list-style-type: none;
    line-height: 1.5;
}

#ordered {
    list-style-type: decimal;
    text-align: left;
}

#front_page {
    width: fit-content;
    height: auto;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    border-width: 4px;
    border-color: rgba(0, 255, 255, 0.667);
    text-align: center;
    margin: auto;
}